@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* body main .card {
  background-color: hsl(228deg, 56%, 26%);
  padding: 30px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
* body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 20px;
  min-height: 100vh;
  background: hsl(229deg, 57%, 11%) url(./images/bg-desktop.png) 10% 120% no-repeat;
  background-size: contain;
  font-family: "Raleway", sans-serif;
}
* body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 20px;
  width: 900px;
  min-height: 200px;
  font-size: 14px;
}
* body main .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
* body main .card_info {
  border-radius: 10px 100px 10px 10px;
}
* body main .card_info .card_features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 20px;
  list-style: none;
}
* body main .card_info .card_features ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 20px;
  width: 40px;
  height: 40px;
  background-color: hsl(229deg, 57%, 11%);
  padding: 8px;
  border-radius: 5px;
}
* body main .card_info .card_features ul li img {
  max-width: 100%;
  height: 100%;
}
* body main .card.usage-plan {
  position: relative;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 15px;
  border-radius: 10px;
  color: hsl(243deg, 100%, 93%);
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
* body main .card.usage-plan strong {
  font-size: 16px;
}
* body main .card .usage-plan_progress {
  width: 100%;
  height: 15px;
  background-color: hsl(229deg, 57%, 16%);
  position: relative;
  border-radius: 8px;
  border: 2px solid hsl(229deg, 57%, 16%);
}
* body main .card .usage-plan_progress::before {
  position: absolute;
  content: "";
  width: 70%;
  height: calc(100% - 2px);
  top: 0.8px;
  left: 1px;
  background: -webkit-gradient(linear, left top, right top, from(hsl(6deg, 100%, 80%)), to(hsl(335deg, 100%, 65%)));
  background: linear-gradient(to right, hsl(6deg, 100%, 80%), hsl(335deg, 100%, 65%));
  border-radius: 8px;
}
* body main .card .usage-plan_progress::after {
  position: absolute;
  content: "";
  width: 7px;
  height: calc(100% - 4px);
  top: 2px;
  left: 68.6%;
  background: hsl(243deg, 100%, 93%);
  border-radius: 8px;
  z-index: 3;
}
* body main .card .usage-plan_limit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 20px;
  width: 100%;
  font-weight: 700;
}
* body main .card sub, * body main .card sup {
  vertical-align: baseline;
  font-weight: 20px;
}
* body main .card .usage-plan_remain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 20px;
  position: absolute;
  top: -35px;
  left: 94%;
  -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
  background-color: white;
  padding: 12px;
  width: 150px;
  color: hsl(229deg, 57%, 11%);
  font-size: 30px;
  font-weight: 700;
  border-radius: 10px;
  border-radius: 10px 10px 0px 10px;
}
* body main .card .usage-plan_remain span:last-of-type {
  color: hsl(229deg, 7%, 55%);
  font-size: 14px;
}
* body main .card .usage-plan_remain::before {
  position: absolute;
  top: 100%;
  left: 100%;
  border: 15px solid transparent;
  border-right-color: white;
  content: "";
  display: block;
  left: 98.5%;
  -webkit-transform: inherit;
          transform: inherit;
  top: 75%;
}

@media (max-width: 767px) {
  body {
    background: hsl(229deg, 57%, 11%) url("./images/bg-mobile.png") 10% 100% no-repeat;
    background-size: cover;
  }
  body main {
    width: 300px;
  }
  body main .usage-plan {
    padding: 45px 25px;
  }
  body main .usage-plan_remain {
    border-radius: 10px !important;
    top: 75% !important;
    left: 50% !important;
    -webkit-transform: translateX(-55%) !important;
            transform: translateX(-55%) !important;
  }
  body main .usage-plan_remain::before {
    left: 100% !important;
    -webkit-transform: translateX(-100%) !important;
            transform: translateX(-100%) !important;
    border-right-color: transparent !important;
  }
}